<div class="hero-unit">
    <h1>欢迎来到Microblog</h1>
    <p>Microblog是一个基于Node.js的微博系统</p>
    <p>
        <a class="btn btn-primary btn-large" href="/login">登录</a>
        <a class="btn btn-large" href="/reg">立即注册</a>
    </p>
</div>

<div class="row">
    <div class="span4">
        <h2>甜心 说</h2>
        <p>对不起</p>
    </div>
    <div class="span4">
        <h2>蔡天鑫 说</h2>
        <p>没关系</p>
    </div>
    <div class="span4">
        <h2>甜心 说</h2>
        <p>客气了</p>
    </div>
</div>
